.caixa-livros {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: center;
}

.livro {
  margin: 10px;
  width: 15%;
  height: 250px;
  list-style-type: none;
  border: 1px solid #528bb9;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.livro:hover {  
  background-color: #d8eaef;
}

h1{
  font-size: 20px;
}



