.caixa-livros {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  background-color: #993300;
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.livro {
  width: 20%;
  height: 250px;
  list-style-type: none;
  border: 1px solid #000;
  margin: 5px; 
  text-align: center;
}

.imagem-livro {
  width: 90%;
  height: 120px;
  top: 5px;
  position: relative;
}

